@*<html>
    <head>
        <style>
            form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
       
        </style>

    </head>
    <body>
<form action="action_page.php" method="post">
  <div class="imgcontainer">
    <img style="width:100px;height100px;" src="https://www.freeiconspng.com/thumbs/profile-icon-png/profile-icon-9.png" alt="Avatar" class="avatar">
  </div>
  <h1>Name:@ViewData["Name"]</h1>
  <h1>Password:@ViewData["Password"]</h1>
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
</body>
</html>*@
@*@{
    var logins = ViewData["logins"] as List<MvcDemoPractice.Models.LoginRepo>;
}*@

@*@model List<MvcDemoPractice.Models.LoginRepo>*@
@model IEnumerable<MvcDemoPractice.Models.LoginRepo>


@*@{
    @model MvcDempPrectice.Models.LoginRepo;
}*@
@*@{
    var logins=ViewBag.log;
}*@

@*<h1>@ViewBag.name</h1>*@
@*<h1>@ViewData["title"]</h1>*@

@*@{
    @model MvcPracticeDemo.Models.ViewModelDemo.LoginActivity;
}*@

@*@TempData["name"]

<div>    
    @{
        Html.RenderPartial("PartialViewPracticeDemo");
    }
</ div>*@
@*<div>
        @Html.Partial("PartialViewPracticeDemo");
</ div>*@

@* <table>
       <tr>
       <td>@Model.Activity</td>
    </tr>
    </table>*@
<a class="btn btn-primary" asp-controller="Login" asp-action="LoginForm">Add Credential</a>
<table class="table">
    <tr>
    <th>Name</th>
    <th>Password</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
    @foreach(var log in Model)
    {
        <tr>
            <td>@log.Name</td>
             <td>@log.Password</td>
                 <td><a class="btn btn-primary" asp-controller="Login" asp-action="EditLogin" asp-route-Name="@log.Name">Edit</a></td>
                          <td><a class="btn btn-danger"asp-controller="Login" asp-action="DeleteLogin" asp-route-Name="@log.Name">Delete</a></td>
        </tr>
    }
</table>
        @* <table>
       <tr>
       <td>@Model.Name</td>
        <td>@Model.Password</td>
    </tr>
    </table>
</table>*@